*{
    box-sizing: border-box;
}

body {
    background-color: #5295f1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
}

.circle {
    background-color: #fff;
    margin: 8px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.circle.grow {
    transform: scale(2);
}